# Backend Modules
backend_development/week-1/.idea
backend_development/week-1/node_modules
backend_development/dynamic-feature/.idea
backend_development/dynamic-feature/node_modules

# Project modules
.idea