{{!--Only if dog exists --}}

<section class="current-user">
  {{#if dogName}}
    <h1> {{dogName}}</h1>
  {{/if}}

</section>

<section class="messages">

</section>

<section class="chat">
  <input type="text">
  <button> Send </button>
</section>
