<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible"
        content="ie=edge">
  <link href="https://fonts.googleapis.com/css2?family=Bevan&display=swap"
        rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300,800&display=swap"
        rel="stylesheet">
{{!--  <link rel="stylesheet"--}}
{{!--        href="../../static/styles/default.css">--}}
{{!--  <link rel="stylesheet"--}}
{{!--        href="../../static/styles/navigation.css">--}}
{{!--  <link rel="stylesheet"--}}
{{!--        href="../../static/styles/match.css">--}}
  <link rel="stylesheet"
        href="../../static/styles/style.css">

  <title>PlayDate</title>
</head>
<body>
<div class="bg-circle"></div>
<div class="bg-circle"></div>
<nav class="setting-nav">
  <ul class="mobile-nav">
    <li></li>
    <li class="current-page">
      Match a dog.
    </li>
    <li>
      <a href="/settings">
        <div class="default-button setting-button">
          <img src="../../static/media/images/settings.svg"
               alt="Settings"/>
        </div>
      </a>
    </li>
  </ul>

  <ul class="desktop-nav">

    <li>
      <a href="/">
        <div class="default-button">
          <img src="../../static/media/images/match.svg"
               alt="Match a dog!"/>
        </div>
        Match
      </a>

    </li>
    <li>
      <a href="/matches">
        <div class="default-button">
          <img src="../../static/media/images/matches.svg"
               alt="All your matches"/>
        </div>
        Matches
      </a>
    </li>
    <li>
      <a href="/profile">
        <div class="default-button ">
          <img src="../../static/media/images/profile.svg"
               alt="Dog Profile"/>
        </div>
        Profile
      </a>
    </li>
    <li>
      <a href="/settings">
        <div class="default-button">
          <img src="../../static/media/images/settings-green.svg"
               alt="Settings"/>
        </div>
        Settings
      </a>
    </li>
  </ul>
</nav>

 {{{body}}}


<nav class="action-nav">
  <ul>
    <li>
      <a href="/profile">
        <div class="default-button">
          <img src="../../static/media/images/profile.svg"
               alt="Check your profile"/>
        </div>
        Profile
      </a>
    </li>

    <li>
      <a href="/">
        <div class="default-button">
          <img src="../../static/media/images/match.svg"
               alt="Match a new dog"/>
        </div>
        Match!
      </a>
    </li>

    <li>
      <a href="/matches">
        <div class="default-button">
          <img src="../../static/media/images/matches.svg"
               alt="All the Chats"/>
        </div>
        Matches
      </a>
    </li>
  </ul>
</nav>
</body>
</html>