<nav class="setting-nav">

{{!--  Mobile Navigation--}}
  <ul class="mobile-nav">

    <li></li>
    <li class="current-page">
      {{{ title }}}
    </li>

    <li>
      <a href="/settings">
        <div class="default-button setting-button">
          <img src="../../public/media/images/settings.svg"
               alt="Settings"/>
        </div>
      </a>
    </li>
  </ul>

{{!--  Desktop Navigation--}}
  <ul class="desktop-nav">
    <li>
      <a href="/">
        <div class="default-button">
          <img src="../../public/media/images/match.svg"
               alt="Match a dog!"/>
        </div>
        Match
      </a>

    </li>
    <li>
      <a href="/matches">
        <div class="default-button">
          <img src="../../public/media/images/matches.svg"
               alt="All your matches"/>
        </div>
        Matches
      </a>
    </li>
    <li>
      <a href="/profile">
        <div class="default-button ">
          <img src="../../public/media/images/profile.svg"
               alt="Dog Profile"/>
        </div>
        Profile
      </a>
    </li>
    <li>
      <a href="/">
        <div class="default-button">
          <img src="../../public/media/images/settings-green.svg"
               alt="Settings"/>
        </div>
        Log out
      </a>
    </li>
  </ul>
</nav>

{{!--App Navigation--}}
<nav class="action-nav">
  <ul>
    <li>
      <a href="/profile">
        <div class="default-button">
          <img src="../../public/media/images/profile.svg"
               alt="Check your profile"/>
        </div>
        Profile
      </a>
    </li>

    <li>
      <a href="/">
        <div class="default-button">
          <img src="../../public/media/images/match.svg"
               alt="Match a new dog"/>
        </div>
        Match!
      </a>
    </li>

    <li>
      <a href="/matches">
        <div class="default-button">
          <img src="../../public/media/images/matches.svg"
               alt="All the Chats"/>
        </div>
        Matches
      </a>
    </li>
  </ul>
</nav>
