:root {
  --primary-color: #FFAF91;
  --secondary-color: #FF9EA6;
  --call-to-action: #03EBBB;
  --error-color: #FF4D8F;
  --dark-color: #565656;
  --light-color: #fff;
  --heading: 'Bevan', cursive;
  --paragraph: 'Open Sans', sans-serif;
}

* {
  box-sizing: border-box;
}

/* @@@@@@@@@@@ Mobile application @@@@@@@@@@@@*/
body {
  background-color: var(--light-color);
  margin: auto;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /*padding-top: 25px;*/
  /*font-family: var(--paragraph);*/
  overflow: hidden;
}

h1 {
  font-family: var(--heading);
}

h2, h3 {
  font-family: var(--paragraph);
  font-weight: 800;
}
p {
  font-family: var(--paragraph);
}

ul li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  color: var(--dark-color)
}
/* Hide on mobile */
.dog-desktop,
.desktop-nav,
.chat-container{
  display: none;
}

/*******************/

.bg-circle {
  background-color: var(--primary-color);
  width: 100%;
  height: 50%;
  border-radius:50%;
  position: absolute;
  top: -25vh;
}


/* -------------- Top Navigation -----------*/

.setting-nav {
  width: 100%;
  height: 14vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}
.setting-nav ul {
  padding: 0;
  margin:0;
  text-decoration: none;
  list-style-type: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

}
.setting-nav ul li {
  width: calc(100%/2);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.setting-nav .mobile-nav li {
  flex: 1;
}
.setting-nav .mobile-nav li.current-page {
  display: flex;
  justify-content: center;
  align-content: center;
  font-family: var(--heading);
  color: var(--light-color);
  font-size: 1.5em;
  flex: 3;
}
.setting-nav .desktop-nav {
  display:none;
}
.action-bar-desktop {
  display:none;
}
.new-dog-buttons {
  display: none;
}


/* ----------- Bottom Navigation --------------*/
.action-nav {
  background-image: url(../media/images/navbar.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  min-height: 4em;
  background-size: cover;
  position: fixed;
  bottom: 0;
  left: 0;
  filter: drop-shadow(0 7px 11px #d0d0d0);
  z-index: 5;

  display: flex;
  justify-content: center;
  align-items: center;
}

.action-nav ul {
  padding: 5px 0;
  margin:0;
  text-decoration: none;
  list-style-type: none;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  margin-block-start: -5px;
}

.action-nav ul li {
  text-align: center;
  font-size: .7em;

}
.action-nav ul li:first-of-type {
  padding-right: 45px;
}
.action-nav ul li:last-of-type {
  padding-left: 45px;
}

.action-bar-desktop {
  display:none;
}

.default-button {
  margin-bottom: 5px;
}



/* Matching Buttons */
.match-buttons {
  align-items: center;
  flex-direction: row;
  position: absolute;
  z-index: 6;
  bottom: 3em;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 0 23%;
}

.match-button img {
  width: auto;
  height: 5em;
}

.match-button:last-of-type img {
  padding-left: 81px;
}

/*Dog match*/
.dog-container {
  margin-bottom: 60px;
  height: 65vh;
  width: 80vw;
  background-color: var(--light-color);
  border-radius: 50px;
  box-shadow: #d0d0d0 0 3px 8px 0;
  filter: drop-shadow(0 3px 8px #d0d0d0);
  z-index: 3;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.dog-image {
  height: 80%;
  width: 100%;
  border-radius: 50px 50px 0 50px;
  position:relative;
  overflow:hidden;
}
.dog-image .main-image{
  width: 100%;
  position:absolute;
  top:0;
  bottom:0;
  margin: auto;
}
.dog-name {
  font-family: var(--heading);
  color: var(--dark-color);
}
.more-details {
  background-color: var(--light-color);
  width: 5em;
  height: 2em;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -1em;
}
.more-images {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3em;
  background-image: -webkit-gradient(
    linear, left top, left bottom, from(rgba(80,80,80,0.0)),
    to(rgba(50,50,50,0.8))
  );
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
}
.more-images .image-box {
  width: 2.5em;
  height: 2.5em;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin-right: 5px;
  background: var(--light-color);
}

/* Active Image*/
.dog-image .more-images .image-box:first-child {
  border: solid 2px var(--call-to-action);
}

.more-images img {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}


.dog-bio {
  display: flex;
}
@media screen and (min-width: 30em) {

  .dog-container {
    width: 60vw;
  }
  .action-nav {
    min-height: 13vw;
  }
  .action-nav ul li {
    font-size: 1em;
  }
  .default-button img {
    width: 2em;
    height: auto;
  }

  .match-button img {
    width: auto;
    height: 6em;
  }
  .match-button:last-of-type img {
    padding-left: 106px;
  }

  .more-images {
    right: 0;
    height: 100%;
    width: 5em;
    flex-direction: column;
    padding-right: 0;
    padding-bottom: 10px;
    background-image: -webkit-gradient( linear, right right, left left, from(rgba(80,80,80,0.0)), to(rgba(50,50,50,0.8)) );
  }
  .more-images .image-box {
    width: 4em;
    height: 4em;
    margin-right: 0;
    margin-top: 5px;
  }
}

@media screen and (min-width: 60em) {
  /*Hide on desktop*/
  .more-details {
    display: none;
  }
  .action-nav {
    display: none;
  }

  /* Hide mobile match buttons*/
  .disabled {
    display: none;
  }
  /*****************/
  .setting-nav .desktop-nav {
    display:flex;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    width: 100%;
    height: 8em;
  }
  .setting-nav .desktop-nav li {
    width: 8em;
  }
  .setting-nav .desktop-nav li:nth-child(2) {
    margin-right:20%;
  }
  .setting-nav .desktop-nav li:nth-child(3) {
    margin-left: 20%;
  }
  .new-dog-buttons {
    width: 100%;
    height: 20%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .new-dog-buttons .nav-button {
    background-color: var(--light-color);
    width: 2em;
    height: 5em;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    box-shadow: #d0d0d0 0 3px 8px 0;
    cursor: pointer;
    margin-top: 0;
  }

  .new-dog-buttons .nav-button:hover {
    background-color: var(--call-to-action);
    transition: 1s;
  }
  .new-dog-buttons .nav-button:active  {
    background-color: var(--call-to-action);
    margin-top: 2px;
    transition: margin-top .1s ;

  }
  .new-dog-buttons .nav-button:first-of-type {
    left: 2em;
  }
  .new-dog-buttons .nav-button:first-of-type img {
    transform: rotate(90deg);
  }
  .new-dog-buttons .nav-button:last-of-type {
    right: 2em;
  }
  .new-dog-buttons .nav-button:last-of-type img {
    transform: rotate(-90deg);
  }

  .bg-circle {
    width: 40%;
    top: -25vh;
  }
  .bg-circle:last-of-type {
    background-color: var(--secondary-color);
    bottom: -25vh;
    top: initial;
  }
  .dog-container {
    margin-top: 3em;
    height: 65vh;
    width: 75vw;
    align-items: flex-start;
    flex-direction: row;
    box-shadow: #27272757 0 13px 20px 0;
    filter: none;
  }
  .dog-container .dog-image {
    height: 100%;
    width: 50%;
  }


  .dog-container .dog-bio {
    width: 50%;
    height: 100%;
    flex-direction: column;
  }
  .dog-container .dog-bio .dog-desktop {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
    padding-left: 2.5em;
    position: relative;
  }
  .dog-container .dog-bio .dog-desktop .dog-points {
    display: flex;
    flex-direction: row;
  }
  .dog-container .dog-bio .dog-desktop .dog-points-titles {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }
  .dog-container .dog-bio .dog-desktop .dog-points-titles h3,
  .dog-container .dog-bio .dog-desktop .dog-description h3 {
    font-family: var(--heading);
    font-size: 1em;
    color: var(--dark-color);

    margin:5px 0;
  }
  .dog-container .dog-bio .dog-desktop .dog-description {
    margin-top: 10px;
  }
  .dog-container .dog-bio .dog-desktop .dog-description p {
    max-width: 30em;
    font-size: .8em;
    padding-right: 2.5em;
  }
  .dog-container .dog-bio .dog-desktop .dog-points-answers {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }
  .dog-container .dog-bio .dog-desktop .dog-points-answers p {
    font-family: var(--paragraph);
    font-size: 1em;
    color: var(--dark-color);
    margin:5px 0;
  }
  .dog-container .dog-bio .dog-name {
    height: 10%;
    font-size: 2.2em;
    font-weight: 100;
    margin: .6em 0 .6em 1em;
  }

  .more-images {
    width: 100%;
    height: 5em;
    flex-direction: row;
    padding-right: 10px;
    background-image: -webkit-gradient(
      linear, left top, left bottom, from(rgba(80,80,80,0.1)),
      to(rgba(50,50,50,0.8))
    );
  }
  .more-images .image-box {
    width: 4em;
    height: 4em;
    margin-top: auto;
    margin-right: 10px;
  }
  .dog-desktop .match-buttons {
    z-index: 5;
    width: 80%;
    bottom:0;
  }
  .dog-desktop .match-button:last-of-type img {
    padding-left: 75px;
  }
}


/* Matches Page*/

.matches-container {
  margin-top: 6em;
  max-width: 20em;
  width: 90vw;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  z-index: 5;
}

.matches-container .single-match {
  width: 100%;
  height: 4em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
  box-shadow: #d0d0d0 0 3px 8px 0;
  background-color: var(--light-color);
  padding-right: 1em;
  margin-bottom: 1em;
}

.matches-container .single-match .match-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 65%;
}

.matches-container .single-match .profile-picture {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  border-top-right-radius: 0;
  overflow: hidden;
  box-shadow: #d0d0d0 0 3px 8px 0;
}
.matches-container .single-match .profile-picture img {
  width: 100%;
  height: auto;
  background-position: center;

}

.matches-container .single-match .chat-button {
  transform: rotate(-90deg);

}
.matches-container .single-match .chat-info {

}
.matches-container .single-match .chat-info .chat-name {
  font-size: 1em;
  font-family: var(--heading);
  font-weight: 100;
  color: var(--dark-color);
  margin: 0;
}
.matches-container .single-match .chat-info .chat-status {
  font-size: .5em;
  font-weight: bold;
  color: var(--call-to-action);
}

.matches-container .single-match .chat-info .previous-message {
  font-size: 0.8em;
}

@media screen and (min-width: 60em) {
  .matches-container {
    margin-top: 18em;
    margin-right: 2em;
  }
  .chat-container {
    width: 30vw;
    max-width: 20em;
    height: 60vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-color: var(--light-color);
    box-shadow: #d0d0d0 0 3px 8px 0;
    z-index: 5;
    border-radius: 50px;
  }
  .chat-container .dog-image {
    height: 25%;
  }
  .chat-container .chat-input {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
  }
  .chat-container .chat-input label {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .chat-container .chat-input input{
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    box-shadow: #d0d0d0 0 3px 8px 0;
    border: 1px solid #fff;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .chat-container .chat-input input::placeholder {
    color: #d7d7d7;
  }
  .chat-container .chat-input img {
    position: absolute;
    right:2em;
    top: 50%;
    transform: translateY(-50%);
  }

  .chat-bulbs {
    width: 100%;
    height: 60%;
  }

  .single-bulb {
    width: 100%;
    height: 3em;
    margin-bottom: 1em;
  }
  .bulb {
    width: max-content;
    height: 3em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 1em;
  }
  .bulb-content {
    width: max-content;
    height: 2em;
    padding: .4em 2em;
    border-radius: 50px;
    background-color: var(--primary-color);
    box-shadow: #d0d0d0 0 3px 8px 0;
  }
  .bulb-timestamp {
    font-size: .5em;
    color: var(--dark-color);
    margin: .5em 2em 0 0;
  }
  .self {
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .self .bulb-content {
    background-color: var(--secondary-color);
  }
}