{{#> layouts/main }}

  {{!--  Render a dog--}}
  {{#with dogs.[0] }}
    {{> singleMatch
      name = name
      images = images
      email = email
      chatStatus = status
      lastMessage = lastMessage
      breed = breed
      description = description
      favToy = favToy
      age = age
      personality = personality
    }}

  {{/with}}

{{!--    Match buttons on mobile--}}


  <section class="log-in-container-mobile disabled">

    <form action="/matches" method="post" class="log-in-form">

      <label for="name" style="display:none">
        <input type="text" value="{{ dogs.[0].name }}" name="name">
      </label>

      <label for="email" style="display:none">
        <input type="text" value="{{ dogs.[0].email }}" name="email">
      </label>

      <input type="submit" value="" class="log-in-button">

    </form>

    <form action="/" method="post" class="log-in-form">

      <label for="next-dog" style="display:none">
        <input type="text" value="{{dogs.[0].email}}" name="next-dog">
      </label>

      <input type="submit" value="" class="log-in-button">

    </form>


  </section>

{{/layouts/main}}