{{#> layouts/main }}

  {{!--  Render a dog--}}
  {{#with dogs.[0] }}
    {{> singleMatch
      name = name
      images = images
      email = email
      chatStatus = status
      lastMessage = lastMessage
      breed = breed
      description = description
      favToy = favToy
      age = age
      personality = personality
    }}

  {{/with}}

  {{!--  Match buttons on mobile --}}
  <section class="match-buttons disabled">

    <div class="match-button">

      <img src="../public/media/images/decline.svg"
           alt="Match this dog!"/>

    </div>
    <div class="match-button">

      <img src="../public/media/images/accept.svg"
           alt="Match this dog!"/>

    </div>

  </section>

{{/layouts/main}}