<section class="matches-container">
  <div class="single-match">
    <div class="match-content">
      <div class="profile-picture">
        <img src="../static/media/images/bobby/bobby-pup.jpg"
             alt="More Details">
      </div>

      <div class="chat-info">
        <h2 class="chat-name">
          Bobby.
        </h2>
        <div class="chat-status">
          New message
        </div>
        <div class="previous-message">
          Hey! How are you?
        </div>

      </div>
    </div>
    <img src="../static/media/images/arrowdown.svg"
         alt="Go to chat"
         class="chat-button">
  </div>
  <div class="single-match">
    <div class="match-content">
      <div class="profile-picture">
        <img src="../static/media/images/bobby/bobby-pup.jpg"
             alt="More Details">
      </div>

      <div class="chat-info">
        <h2 class="chat-name">
          Bobby.
        </h2>
        <div class="chat-status">
          New message
        </div>
        <div class="previous-message">
          Hey! How are you?
        </div>

      </div>
    </div>
    <img src="../static/media/images/arrowdown.svg"
         alt="Go to chat"
         class="chat-button">
  </div>
</section>

<section class="chat-container">
  <section class="dog-image">
    <img src="../static/media/images/bobby/bobby-pup.jpg"
         alt="Bobby"
         class="main-image">


  </section>
  <div class="chat-bulbs">
    <div class="single-bulb">
      <div class="bulb">
        <div class="bulb-content">
          Hey! How are you?
        </div>
        <span class="bulb-timestamp">
        April 10 | 10:22
      </span>
      </div>

    </div>

    <div class="single-bulb self">
      <div class="bulb">
        <div class="bulb-content">
          Hey! How are you?
        </div>
        <span class="bulb-timestamp">
        April 10 | 10:22
      </span>
      </div>

    </div>
  </div>

  <section class="chat-input">
    <label for="message">
      <input name="message" type="text" placeholder="Send a message..."/>
    </label>
    <img src="../static/media/images/send.svg"
         alt="Send Message">
  </section>
</section>