<form action="/signup" method="post" class="sign-up">
  <fieldset>
  <label for="name">
    Name
    <input type="text"
           name="name">
  </label>
  <label for="email">
    Email
    <input type="email"
           name="email">
  </label>
  <label for="password">
    Password
    <input type="password"
           name="password">
  </label>
  </fieldset>
  <fieldset>
  <label for="images">
    Images
    <input type="text"
           name="images"
           placeholder="bobby-pup.jpg">
  </label>
  <label for="breed">
    Breed
    <input type="text"
           name="breed">
  </label>

  <label for="toy">
    Favorite Toy
    <input type="text"
           name="toy">
  </label>
  <label for="age">
    Age
    <input type="number"
           name="age">
  </label>
  <label for="personality">
    Personality
    <input type="text"
           name="personality">
  </label>
  <label for="description">
    Description
    <textarea name="description">
    </textarea>
  </label>


  <label for="submit">
    <input type="submit"
           name="submit"
          value="submit">
  </label>
  </fieldset>
</form>